<style>
     body {
      margin: 0;
      padding: 0;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
</style>
<div class="container">
        <div class="row mt-4 align-items-center h-100">
            <div class="m-auto">
                <a class="btn w-100 btn-primary mb-3" href="/agent">Ajouter un agent</a>
                <a class="btn w-100 btn-warning mb-3" href="/customer">Ajouter un client</a>
                <a class="btn w-100 btn-success" href="/customers">Liste des clients</a>
                
            </div>
        </div>
</div>

<%- contentFor('footer') %>
