#calendar .modal-body{
    overflow-x: auto;
}
#calendar .modal-dialog{
    max-width: 80%;
}
td.selected {
  background-color: green;
}
.btn-submit{
  background-color: #00BF63;
  border-color: #00BF63;
}